Addressbook/Service References/ServiceReference1/ContactBookServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PERFORM_ACTIONS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ACTION_REQUEST" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERFORM_ACTIONSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PERFORM_ACTIONSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>